var active_status = <%= params.key?(:active_status) %>;
if (active_status){
  $(".search_todos").val('');
};

var search =  <%= params.key?(:search) %>;
if(search){
$(".todos").html(`<% if @todos.empty? %><div class = "todo">
        <p>Nothing to show </p></div><% else %>
        <% @todos.each do |todo| %><%= render 'todo', todo: todo %>
        <% end %><% end %>`);
}else{
$(".todos").append(`<% if @todos.empty? %><div class = "todo">
      <p>Nothing to show </p></div><% else %>
      <% @todos.each do |todo| %><%= render 'todo', todo: todo %>
      <% end %><% end %>`);
}
$(".digg_pagination").html(`<%= will_paginate @todos, page_links: false %>`);

$('.loading-section').fadeOut();

$('.pagination a').attr('data-remote', 'true');

var empty = <%= @todos.empty? %>
if (empty){
  status1 = status2 = false;
}
else{
  var status1 = <%= (@todos.to_a == Todo.active_only.where(user_id: current_user.id).to_a) || @todos.all? { |todo| todo.active == true } %> ;
  var status2 = <%= @todos.to_a == Todo.inactive_only.where(user_id: current_user.id).to_a || @todos.all? { |todo| todo.active == false } %> ;
};
$("#active_status_active_only").prop("checked", status1);
$("#active_status_inactive_only").prop("checked", status2);

arrow_correction();

if ($(".search_todos").val()) {
  ($('.up').parent()).addClass( "invisible" );
  ($('.down').parent()).addClass( "invisible" );
};
