
  <%= render 'form' %>
  <div class = "active-change">
  <% status = (@todos.all? { |todo| todo.active? } ) %>
  <%= radio_button_tag :active_status, 'active_only', status, data: {url: url_for(action: :active_status), :remote => true, method: :post } %>
    <label for="active_status_active_only">Active</label>
  <%= radio_button_tag :active_status, 'inactive_only',!(status), data: {url: url_for(action: :active_status), :remote => true, method: :post }%>
    <label for="active_status_inactive_only">Inactive</label>
  </div>

  <div class = "todo-list">
      <table class = "table table-hover">
        <% if @todos.empty? %>
          <tr class = "table-bordered">
            <td> Nothing to show </td>
          </tr>
        <% else %>
          <% @todos.each do |todo| %>
            <% if current_user.id == todo.user_id %>
                <tr class = "todo-body table-bordered">
                  <td>
                    <div class = "todo_body">
                      <%= link_to todo.body, todo %>
                    </div>
                    <div class = "todo-time">
                        <%=todo.created_at.strftime("%l.%M %P %e %B %Y")%>
                    </div>
                  </td>
                  <td class = "options">
                    <% if @todos.first == todo %>

                    <% else %>
                      <%= link_to '', todos_rearrange_path(:id => todo.id, :direction => "up"),
                          data: {url: url_for(action: :rearrange), :remote=> true, method: :post},
                          :class => 'fa fa-sort-up' %>
                    <% end %>
                  </td>
                  <td class = "options">
                    <%= link_to '', todos_rearrange_path(:id => todo.id, :direction => "down"),
                            data: {url: url_for(action: :rearrange), :remote=> true, method: :post },
                             :class => 'fa fa-sort-down' %>
                  </td>
                  <td class = "options">
                      <%= link_to '', todo, method: :delete, data: { confirm: "Are you sure?" },
                            :remote=> true, :class => "delete_todo"%>
                  </td>
                  <td class = "options">
                    <div class = "round">
                      <%= check_box_tag todo.id, todo.id, todo.active,
                              data: {url: url_for(action: :update, active:todo.active, id:todo.id), :remote => true, method: :patch } %>
                              <label for="<%=todo.id%>"></label>
                    </div>
                  </td>
                </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
  </div>
