  <div class = "search-box">
    <%= text_field_tag :search, "", placeholder: "Search", class: "search_todos" %>
  </div>

</div>

  <div class = "entry-box">
      <%= text_field_tag :create, "", placeholder: "Enter your todo", class: "todo-entry" %>
  </div>

  <div class = "active-change">
    <%= radio_button_tag :active_status, 'active_only', true, data: {url: :todos, :remote => true, method: :get} %>
      <label for="active_status_active_only">Active</label>
    <%= radio_button_tag :active_status, 'inactive_only', false, data: {url: :todos, :remote => true, method: :get }%>
      <label for="active_status_inactive_only">Inactive</label>
  </div>

  <div class = "todos">
    <% if @todos.empty? %>
      <div class = "todo">
        <p>Nothing to show </p>
      </div>
    <% else %>
      <% @todos.each do |todo| %>
        <%= render 'todo', todo: todo %>
      <% end %>
    <% end %>
  </div>

  <script>

    $('.up').first().addClass( "invisible" );
    $('.down').last().addClass( "invisible" );

    $(".search_todos").keyup(function() {
      $.ajax({
          type: 'GET',
          url: '/todos',
          data: {search: $(this).val()}
       });
    });

    $(".search_todos").keydown(function() {
      if (event.which == 27) {
        $(".search_todos").val('');
      };
    });

    $(".todo-entry").keydown(function() {
      if (event.which == 13) {
        $.ajax({
          type: 'POST',
            url: '/todos/',
            data: {create: $(this).val()}
        });
      };
      if (event.which == 27) {
        $(".todo-entry").val('');
      };
    });


  </script>
