  <div class = "search-box">
    <%= text_field_tag :search, "", placeholder: "Search", class: "search_todos" %>
  </div>

</div>

  <div class = "entry-box">
      <%= text_field_tag :create, "", placeholder: "Enter your todo", class: "todo-entry" %>
  </div>

  <div class = "active-change">
    <%= radio_button_tag :active_status, 'active_only', true, data: {url: :todos, remote: true, method: :get} %>
      <label for="active_status_active_only">Active</label>
    <%= radio_button_tag :active_status, 'inactive_only', false, data: {url: :todos, remote: true, method: :get }%>
      <label for="active_status_inactive_only">Inactive</label>
  </div>

  <div class = "todos">
    <% if @todos.empty? %>
      <div class = "todo">
        <p>Nothing to show </p>
      </div>
    <% else %>
      <% @todos.each do |todo| %>
        <%= render 'todo', todo: todo %>
      <% end %>
    <% end %>
  </div>

  <script>

    var empty = <%= @todos.empty? %>
    if (empty){
      status1 = status2 = false;
    }
    else{
      var status1 = <%= (@todos.to_a == Todo.active_only.where(user_id: current_user.id).to_a) || @todos.all? { |todo| todo.active == true } %> ;
      var status2 = <%= @todos.to_a == Todo.inactive_only.where(user_id: current_user.id).to_a || @todos.all? { |todo| todo.active == false } %> ;
    };
    $("#active_status_active_only").prop("checked", status1);
    $("#active_status_inactive_only").prop("checked", status2);

    arrow_correction();

    $(".search_todos").keyup(function() {
      $.ajax({
          type: 'GET',
          url: '/todos',
          data: {search: $(this).val()}
       });
    });

    $(".search_todos").keydown(function() {
      if (event.which == 27) {
        $(".search_todos").val('');
      };
    });

    $(".todo-entry").keydown(function() {
      if (event.which == 13) {
        $.ajax({
          type: 'POST',
            url: '/todos/',
            data: {create: $(this).val()}
        });
      };
      if (event.which == 27) {
        $(".todo-entry").val('');
      };
    });

    function arrow_correction(){
      ($('.up').parent()).removeClass( "invisible" );
      ($('.down').parent()).removeClass( "invisible" );
      ($('.up').parent()).first().addClass( "invisible" );
      ($('.down').parent()).last().addClass( "invisible" );
    }

  </script>
