var active_status = <%= params.key?(:active_status) %>;
if (active_status){
  $(".search_todos").val('');

}
<% p @todos %>
var count = $('.todo').length;
if(count == 0){
  $(".todos").html(`<% if @todos.empty? %><div class = "nothing">
    Nothing to show</div><% else %>
      <% @todos.each do |todo| %><%= render 'todo', todo: todo %>
      <% end %><% end %>`);
}else{
  $(".todos").append(`<% if @todos.empty? %><div class = "nothing">
    Nothing to show</div><% else %>
      <% @todos.each do |todo| %><%= render 'todo', todo: todo %>
      <% end %><% end %>`);
}
$(".digg_pagination").html(`<%= will_paginate @todos, page_links: false %>`);

$('.pagination a').attr('data-remote', 'true');

arrow_correction();

var search = <%= params.key?(:search) %>;
if(search){
  $("#active_status_active_only").prop("checked", false);
  $("#active_status_inactive_only").prop("checked", false);
}

if(search && !<%= params[:search].present? %>){
  $("#active_status_active_only").prop("checked", true);
}

if ($(".search_todos").val()) {
  ($('.up').parent()).hide();
  ($('.down').parent()).hide();
};
